추천시스템
===
## 1. 추천시스템이란?
### 1. 추천 시스템의 추천 방식
* 사용자(User)와 상품(Item)으로 구성된 시스템.
* 특정 사용자(User)가 좋아할 상품(Item)을 추천.
* 비슷한 상품(Item)을 좋아할 사용자(User)를 추천.
* Item이든 User든 관심을 가질만한 정보(information)를 추천.
### 2. 추천 시스템의 등장 배경과 종류
* 서비스의 성장과 정보의 다양화.
* 인터넷에서 찾을 수 있는 정보가 매우 많음
* 인터넷에서 정보를 찾는데 시간이 매우 오래 걸림.
* 사용자가 정보를 수집하고 찾는 시간을 줄여주는 것이 목적.

* |검색서비스|추천서비스|
  |---|---|
  |Pull Information|Push Information|
  |사용자가 요구한 후 작동|사용자가 요구하기 전 작동|
  |사용자 스스로 원하는 바를 알고 있음|사용자 스스로 원하는 바를 정확히 알지 못함|
### 3. 사용자(User)와 상품(Item)
* 사용자와 아이템 사이의 관계를 분석하고 연관관계를 찾음.
* 해당 연관 관계를 점수화함.
* 사용자의 정보와 아이템의 정보를 활용함.
  * 사용자 정보
    * 사용자 고유 정보(나이, 성별, 지역 등)
    * 사용자 로그 분석(행동 패턴 등)
  * 아이템 정보
    * 아이템 고유 정보(가격, 색상, 내용 등)
#### 1. 사용자 프로필(User Profile)
* 사용자 또는 사용자 그룹을 분석 가능한 요소로 프로파일링(Profiling).
* 사용자를 구분할 수 있는 정보를 활용.
  * 사용자 ID : 나이, 성별, 지역, 학력 등 개인 신상정보
  * 쿠키(Cookie)
  * 인터넷 주소
  * 웹 페이지 방문 기록, 클릭 패턴 등 사용자 행동 정보
* 사용자 정보를 수집하기 위한 방법.
  * 직접적인(Explicit)방법 : 설문조사, 평가, 피드백 등
  * 간접적인(Implicit)방법 : 웹페이지 체류 시간, 클릭 패턴, 검색 로그 등
* 개인별 추천 또는 사용자 그룹별 추천 가능
## 2. 추천점수란?
* 분석된 사용자와 아이템 정보를 바탕으로 추천점수 계산.
* 사용자 또는 아이템 프로필에서 어떤 정보를 사용할지에 따라 추천 알고리즘 결정.
* 사용자 또는 아이템을 추천하기 위해 각각의 아이템 또는 사용자에 대한 정량화된 기준 필요.
* 추천 알고리즘의 **목적**은 **점수화(Scoring)** 하는 것.
## 3. 추천시스템을 위한 다양한 데이터
* 데이터
  * 사용자가 어떤 상품을 구매했는가?
  * 사용자가 어떤 제품을 검색 했는가?
  * 사용자가 무엇을 클릭했는가?
  * 사용자가 평가한 영화 평점은?
* 추천 엔진을 통과한 결과
  * 고객을 위한 최신 상품.
  * 해당 상품을 선택한 다른 사람들이 좋아하는 상품들.
  * 이런 상품을 좋아하신다면, 아래의 상품은 어떠신가요?
## 4. 추천시스템의 묘미 : 아하 모멘트
* 추천 시스템의 묘미는 사용자 자신도 좋아하는지 모르고 있었던 취향을 발견하는 것.   
추천 시스템의 신뢰가 높아지면서 사용자는 추천 아이템을 더 많이 선택하게 되고, 이로 인해 더 많은 데이터가 추천 시스템에 축적되면서 추천이 정확해지고 다양해 짐.
### 넷플릭스의 사례 : 추천시스템의 비지니스적 활용
* 자사가 생성한 콘텐츠 위주로 추천하는 경향.
## 5. 추천시스템 방식
1. 콘텐츠 기반 필터링(Content Based Filtering)
2. 협업 필터링(Collaborative Filtering)
* 추천 시스템은 이들 방식중 1가지를 선택하거나 이들을 결합하여 hybrid 방식으로 사용.
(예 : Content Based + Collaborative Filtering)
### 1. 컨텐츠기반 추천시스템(Contents-based Recommender System)
* 사용자가 과거에 좋아했던 아이템을 파악하고, 그 아이템과 비슷한 아이템을 추천.
* 예시) 스파이더맨에 4.5점 평점을 부여한 유저는 타이타닉보다 캡틴 마블을 더 좋아할 것.
  1. 유저가 과거에 접한 아이템이면서 만족한 아이템
  2. 유저가 좋아했던 아이템 중 일부 또는 전체와 비슷한 아이템 선정
  3. 선정한 아이템을 유저에게 추천
### 2. 협업 필터링(Collaborative Filtering)
* 비슷한 성향 또는 취향을 가진 다른 유저가 좋아한 아이템을 현재 유저에게 추천.
* 간단하면서 수준 높은 정확도를 보임.
* 예시) 스파이더맨에 4.5점을 준 2명의 유저 중, 유저 A가 과거에 좋아했던 캡틴 마블을 유저 B에게 추천.
  1. 유저 A와 유저 B 모두 같은 아이템에 대해 비슷한 평가를 했음.
  2. 이 때, 유저 A는 다른 아이템에도 비슷한 호감을 나타냄.
  3. 따라서 유저 A, B의 성향은 비슷할 것이므로, 다른 아이템을 유저 B에게 추천함.
### 3. 복합 추천 시스템(Hybrid Recommender System)
* Content-based와 Collaborative Filtering의 장, 단점을 상호보완
* Collaborative Filtering은 새로운 아이템에 대한 추천이 부족함.
* 여기에 대해, content-based 기법이 cold-start 문제에 도움을 줄 수 있음.
## 5. CBF 실습 : 장르 유사도 기반 영화 추천시스템
### 1. 콘텐츠 기반 필터링 구현 프로세스
1. 콘텐츠에 대한 여러 텍스트 정보들을 피처 벡터화.
2. 코사인 유사도로 콘텐츠별 유사도 계산.
3. 콘텐츠 별로 가중평점을 계산.
4. 유사도가 높은 콘텐츠 중에 평점이 좋은 콘텐츠 순으로 추천.
### 2. 데이터 로드

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

movies = pd.read_csv("./csv_data/tmdb_5000_movies.csv")

print(movies.shape)
movies.head()

(4803, 20)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

### 3. 장르 데이터 전처리

In [2]:
# 장르 데이터 전처리
from ast import literal_eval

movies["genres"] = movies["genres"].apply(literal_eval)
movies["keywords"] = movies["keywords"].apply(literal_eval)

In [3]:
type(movies["genres"][0])

list

In [4]:
movies["genres"] = movies["genres"].apply(lambda x : [y["name"] for y in x])
movies["keywords"] = movies["keywords"].apply(lambda x : [y["name"] for y in x])
movies[["genres", "keywords"]][:1]
# 우리에게 필요한 장르명만 뽑아옴.

,genres,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon..."

### 4. 장르 피처 벡터화 - 영화간 유사도 계산
* 장르 문자열을 Count 기반 피처 벡터화 후에 코사인 유사도로 각 영화를 비교

In [5]:
from sklearn.feature_extraction.text import CountVectorizer

# CounterVectorizer를 적용하기 위해 공백문자로 word 단위가 구분되는 문자열로 변환.
movies["genres_literal"] = movies["genres"].apply(lambda x : (" ").join(x))
count_vect = CountVectorizer(min_df=0, ngram_range=(1,2))
genre_mat = count_vect.fit_transform(movies["genres_literal"])
print(genre_mat.shape)
movies["genres_literal"].head()
# bingram으로 피처 수 276개로 증가

(4803, 276)

0    Action Adventure Fantasy Science Fiction
1                    Adventure Fantasy Action
2                      Action Adventure Crime
3                 Action Crime Drama Thriller
4            Action Adventure Science Fiction
Name: genres_literal, dtype: object

In [6]:
print(genre_mat[0])

  (0, 0)	1
  (0, 16)	1
  (0, 124)	1
  (0, 232)	1
  (0, 138)	1
  (0, 1)	1
  (0, 24)	1
  (0, 135)	1
  (0, 233)	1

In [7]:
from sklearn.metrics.pairwise import cosine_similarity

genre_sim = cosine_similarity(genre_mat, genre_mat)
print(genre_sim.shape)
print(genre_sim[:2])

(4803, 4803)
[[1.         0.59628479 0.4472136  ... 0.         0.         0.        ]
 [0.59628479 1.         0.4        ... 0.         0.         0.        ]]

In [8]:
genre_sim_sorted_ind = genre_sim.argsort()[:, ::-1]
print(genre_sim_sorted_ind[:1])
# 첫번째 영화와 유사도가 높은 영화 순서

[[   0 3494  813 ... 3038 3037 2401]]

### 5. 특정 영화와 장르 유사도가 높은 영화 추천

In [9]:
# 특정 영화와 장르 유사도가 높은 영화를 반환하는 함수
def find_sim_movie(df, sorted_ind, title_name, top_n=10) :

    # 인자로 입력된 movies DataFrame에서 'title'컬럼의 값이 입력된 title_name 값인 DataFrame 추출
    title_moive = df[df['title'] == title_name]

    # title_named를 가진 DataFrame의 index 객체를 ndarray로 변환하고
    # sorted_ind 인자로 입력된 genre_sim_sorted_ind 객체에서 유사도 순으로 top_n개의 index 추출
    title_index = title_moive.index.values
    siamilar_indexes = sorted_ind[title_index, :(top_n)]

    # 추출된 top_n index들 출력. top_n index는 2차원 데이터임.
    # DataFrame에서 index로 사용하기 위해서 1차원 array로 변경
    print(siamilar_indexes)
    siamilar_indexes = siamilar_indexes.reshape(-1)

    return df.iloc[siamilar_indexes]

In [10]:
similar_movies = find_sim_movie(movies, genre_sim_sorted_ind, "The Godfather", 10)
similar_movies[["title", "vote_average"]]
# 영화 대부와 장르 유사도가 높은 순서

# 문제는 평가횟수가 현저히 적은 영화들이 추천되는 경우도 있음. low quality 추천 문제.
# 우리가 전혀 모르는 영화를 추천받는 것은 엉뚱한 추천 결과를 낳을 수 있음.
# → 평가횟수를 반영한 추천 시스템이 필요

[[2731 1243 3636 1946 2640 4065 1847 4217  883 3866]]

                                               title  vote_average
2731                          The Godfather: Part II           8.3
1243                                    Mean Streets           7.2
3636                                   Light Sleeper           5.7
1946  The Bad Lieutenant: Port of Call - New Orleans           6.0
2640         Things to Do in Denver When You're Dead           6.7
4065                                      Mi America           0.0
1847                                      GoodFellas           8.2
4217                                            Kids           6.8
883                              Catch Me If You Can           7.7
3866                                     City of God           8.1

### 6. 가중평점 반영항 영화 추천
*  가중평점(평점&평가횟수) 반영한 영화 추천
* 가중평점(Weighted Rating) :
*    (v/(v+m))*R + (m/v+m)*C
*  v : 영화별 평점을 투표한 횟수(vote_count), 투표 횟수가 많은 영화에 가중치 부여
*  m : 평점을 부여하기 위한 최소 투표 횟수, 여기서는 투표수 상위 60%
*  R : 개별 영화에 대한 평균 평점(vote_average)
*  C : 전체 영화에 대한 평균 평점(movie["vote_average"].mean())
*  C, m 은 고정값
*  v, R 은 영화마다 변동값
* 투표 횟수가 많으면 가중치가 붙음. 최종적으로,
    1. __장르__ 가 유사한 영화 중
    2. __가중평점__ 이 높은 영화가 추천되게 됨.

In [12]:
# 상위 60%에 해당하는 vote_count를 최소 투표 횟수인 m으로 지정
C = movies["vote_average"].mean()   # 약 6점
m = movies["vote_count"].quantile(0.6)  # 370회
print(f"{C:.3f}, {m:.3f}")

6.092, 370.200

In [13]:
# 가중평점을 계산하는 함수
def weighted_vote_average(record) :
    v = record["vote_count"]
    R = record["vote_average"]

    return ((v/(v+m))*R + (m/(m+v))*C)  # 가중평균을 return

In [14]:
# 기존 데이터에 가중평점 칼럼 추가
movies["weighted_vote"] = movies.apply(weighted_vote_average, axis=1)

In [15]:
# 추천 ver2. 먼저 장르 유사성이 높은 영화 20개 선정 후, 가중평점순 10개 선정
def find_sim_movie_ver2(df, sorted_ind, title_name, top_n=10) :
    title_moive = df[df['title'] == title_name]
    title_index = title_moive.index.values

    # top_n의 2배에 해당하는 장르 유사성이 높은 index 추출
    similar_indexes = sorted_ind[title_index, :(top_n*2)]
    similar_indexes = similar_indexes.reshape(-1)

    # 기준 영화 index는 제외
    similar_indexes = similar_indexes[similar_indexes != title_index]

    # top_n의 2배에 해당하는 후보군에서 weighted_vote 높은 순으로 top_n 만큼 추출
    return df.iloc[similar_indexes].sort_values('weighted_vote', ascending=False)[:top_n]

In [16]:
# 영화 대부에 대해 장르 유사성, 가중평점 반영한 추천 영화 10개를 뽑음.
similar_movies = find_sim_movie_ver2(movies, genre_sim_sorted_ind, "The Godfather", 10)
similar_movies[["title", "vote_average", "weighted_vote", "genres", "vote_count"]]
# 영화 대부는 장르가 Drama, Crime 두개.

,title,vote_average,weighted_vote,genres,vote_count
2731,The Godfather: Part II,8.3,8.079586,"[Drama, Crime]",3338
1847,GoodFellas,8.2,7.976937,"[Drama, Crime]",3128
3866,City of God,8.1,7.759693,"[Drama, Crime]",1814
1663,Once Upon a Time in America,8.2,7.657811,"[Drama, Crime]",1069
883,Catch Me If You Can,7.7,7.557097,"[Drama, Crime]",3795
281,American Gangster,7.4,7.141396,"[Drama, Crime]",1502
4041,This Is England,7.4,6.739664,"[Drama, Crime]",363
1149,American Hustle,6.8,6.717525,"[Drama, Crime]",2807
1243,Mean Streets,7.2,6.626569,"[Drama, Crime]",345
2839,Rounders,6.9,6.530427,"[Drama, Crime]",439

In [18]:
# 응용 : Spider-Man3 좋아하는 사람 기준으로 장르가 유사한 영화를 추천.
similar_movies = find_sim_movie_ver2(movies, genre_sim_sorted_ind, "Spider-Man 3", 10)
similar_movies[["title", "vote_average", "weighted_vote", "genres", "vote_count"]]

,title,vote_average,weighted_vote,genres,vote_count
329,The Lord of the Rings: The Return of the King,8.1,8.011871,"[Adventure, Fantasy, Action]",8064
262,The Lord of the Rings: The Fellowship of the Ring,8.0,7.922175,"[Adventure, Fantasy, Action]",8705
330,The Lord of the Rings: The Two Towers,8.0,7.910111,"[Adventure, Fantasy, Action]",7487
19,The Hobbit: The Battle of the Five Armies,7.1,7.027274,"[Action, Adventure, Fantasy]",4760
98,The Hobbit: An Unexpected Journey,7.0,6.961224,"[Adventure, Fantasy, Action]",8297
126,Thor: The Dark World,6.8,6.748873,"[Action, Adventure, Fantasy]",4755
30,Spider-Man 2,6.7,6.652034,"[Action, Adventure, Fantasy]",4321
129,Thor,6.6,6.572735,"[Adventure, Fantasy, Action]",6525
20,The Amazing Spider-Man,6.5,6.478296,"[Action, Adventure, Fantasy]",6586
38,The Amazing Spider-Man 2,6.5,6.466812,"[Action, Adventure, Fantasy]",4179

In [4]:
import pandas as pd
rating_df = pd.read_csv("./csv_data/ratings.csv")

In [8]:
movie_df = pd.read_csv("./csv_data/movies.csv").iloc[:10000,:]

In [5]:
rating_df

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

In [9]:
movie_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9995,33750,Innocent Voices (Voces inocentes) (2004),Drama|War
9996,33755,Godzilla vs. Biollante (Gojira vs. Biorante) (...,Action|Sci-Fi
9997,33760,Anna and the King of Siam (1946),Drama|Romance
9998,33767,Good Neighbor Sam (1964),Comedy
9999,33779,Eddie Izzard: Dress to Kill (1999),Comedy

In [10]:
# 장르 문자열을 Count 기반 피처 벡터화 후에 코사인 유사도로 각 영화를 비교
from sklearn.feature_extraction.text import CountVectorizer

# CounterVectorizer를 적용하기 위해 공백문자로 word 단위가 구분되는 문자열로 변환.
movie_df["genres_literal"] = movie_df["genres"].apply(lambda x : x.replace("|", " "))
count_vect = CountVectorizer(min_df=0, ngram_range=(1,2))
genre_mat = count_vect.fit_transform(movie_df["genres_literal"])
print(genre_mat.shape)
movie_df["genres_literal"].head()
# 피처 193로 증가

(10000, 164)

0    Adventure Animation Children Comedy Fantasy
1                     Adventure Children Fantasy
2                                 Comedy Romance
3                           Comedy Drama Romance
4                                         Comedy
Name: genres_literal, dtype: object

In [11]:
from sklearn.metrics.pairwise import cosine_similarity

genre_sim = cosine_similarity(genre_mat, genre_mat)
genre_sim_sorted_ind = genre_sim.argsort()[:, ::-1]
print(genre_sim_sorted_ind[:1])
# 첫번째 영화와 유사도가 높은 영화 순서

[[   0 2203 9949 ... 5086 9050 4999]]

In [25]:
# 특정 영화와 장르 유사도가 높은 영화를 반환하는 함수
def find_sim_movie(df, sorted_ind, title_name, top_n=10) :

    # 인자로 입력된 movies DataFrame에서 'title'컬럼의 값이 입력된 title_name 값인 DataFrame 추출
    title_moive = df[df['title'] == title_name]

    # title_named를 가진 DataFrame의 index 객체를 ndarray로 변환하고
    # sorted_ind 인자로 입력된 genre_sim_sorted_ind 객체에서 유사도 순으로 top_n개의 index 추출
    title_index = title_moive.index.values
    similar_indexes = sorted_ind[title_index, :(top_n+1)]
    similar_indexes = similar_indexes[similar_indexes != title_index]


    # 추출된 top_n index들 출력. top_n index는 2차원 데이터임.
    # DataFrame에서 index로 사용하기 위해서 1차원 array로 변경
    print(similar_indexes)
    similar_indexes = similar_indexes.reshape(-1)

    return df.iloc[similar_indexes]

In [26]:
similar_movies = find_sim_movie(movie_df, genre_sim_sorted_ind, "Toy Story (1995)", 10)
similar_movies[["title", "genres"]]

[2203 9949 3653 3912 3021 4780 4201 8748 7787 9971]

,title,genres
2203,Antz (1998),Adventure|Animation|Children|Comedy|Fantasy
9949,DuckTales: The Movie - Treasure of the Lost La...,Adventure|Animation|Children|Comedy|Fantasy
3653,"Adventures of Rocky and Bullwinkle, The (2000)",Adventure|Animation|Children|Comedy|Fantasy
3912,"Emperor's New Groove, The (2000)",Adventure|Animation|Children|Comedy|Fantasy
3021,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy
4780,"Monsters, Inc. (2001)",Adventure|Animation|Children|Comedy|Fantasy
4201,Shrek (2001),Adventure|Animation|Children|Comedy|Fantasy|Ro...
8748,"Twelve Tasks of Asterix, The (Les douze travau...",Action|Adventure|Animation|Children|Comedy|Fan...
7787,"Chipmunk Adventure, The (1987)",Adventure|Animation|Children|Comedy|Fantasy|Mu...
9971,Madagascar (2005),Adventure|Animation|Children|Comedy